.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(41, 41, 231);
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.bar {
  padding: 10px;
}
.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  color: white;
  outline: none;
}
.button:hover,
.button:focus,
.button:active {
  opacity: 0.7;
  outline: none;
}
.input {
  padding: 8px;
  border-radius: 4px;
  margin-left: 8px;
  width: 400px;
  border: none;
  line-height: 1.6;
}
.input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}
